.contact-page {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  max-width: 1254px;
  margin: 0 auto;
}
.map {
  height: 300px;
  width: 100%;
  border: 4px solid #7f5af0;
  border-radius: 10px;
  box-shadow: -2px 1px 10px #7052c2;
}
.contact-form-section {
  width: 100%;
}
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}
.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 10px;
  border: 2px solid #7f5af0;
  border-radius: 5px;
  width: 100%;
}
.contact-form label {
  font-weight: bold;
}
select,
input,
#message {
  box-shadow: -2px 1px 10px #7052c2;
  background-color: #7f5af0;
}
.button {
  background-color: #7f5af0;
  border-radius: 5px;
  padding: 12px;
  cursor: pointer;
  font-weight: bold;
  width: fit-content;
  align-self: center;
  box-shadow: -2px 1px 10px #7052c2;
}
@media (min-width: 768px) {
  .contact-page {
    flex-direction: row;
    align-items: flex-start;
  }
  .map {
    width: 50%;
    height: 500px;
    order: 2;
  }
  .contact-form-section {
    width: 45%;
    order: 1;
  }
}
