body {
  max-width: 1440px;
  background-color: rgb(2, 10, 43);
  color: white;
  margin: 0 auto;
}
header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 0px;
  max-width: 1254px;
  margin: 0 auto;
}
.navcolor {
  color: #7f5af0;
  display: flex;
  flex-direction: column; 
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 5px;
}
.navcolor li {
  margin: 5px 0;
}
.Logo {
  border-radius: 50%;
  margin-left: 10px;
  box-shadow: 0px 0px 5px #450dec;
}
.button {
  border: 3px solid #7f5af0;
  background-color: #7f5af0;
  border-radius: 5px;
}
h1 {
  font-size: 30px;
}
a:hover,
.button:hover {
  color: #2cb67d;
}
a{
  text-shadow: -5px 1px 10px #450dec ;
}
.center {
  text-align: center;
}
p {
  font-family: Aptos;
  color: white;
}
h1 {
  font-family: Aptos;
}
.space {
  padding: 10px;
}
.search-form {
  display: flex;
  border: 2px solid #7f5af0;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: -5px 1px 20px #450dec;
}
.search-input {
  flex: 1;
  padding: 10px 15px;
  font-size: 16px;
}
.search-button {
  padding: 10px 10px;
  background-color: #7f5af0;
}
.description {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: solid #7a51f5;
  background-color:  #7a51f5;
  margin: 10px;
}
.price {
  font-size: larger;
  font-weight: bold;
  color: #fbfbfb;
}
.namebold {
  font-size: larger;
  color: rgb(0, 0, 0);
}
.descriptionsmall {
  color: rgba(189, 186, 186, 0.844);
}
@media (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1254px;
    min-width: 1150px;
    width: 100%; 
  }
  .navcolor {
    flex-direction: row;
    gap: 20px;
  }
}