.BackGroundFoto1,
.BackGroundFoto2,
.BackGroundFoto3,
.BackGroundFoto4,
.BackGroundFoto5,
.BackGroundFoto6 {
  background-size: cover;
  background-position: center center;
  height: 300px;
  width: 300px;
  border-radius: 25px;
  border: 4px solid #7f5af0;
  margin: 10px auto;

  display: flex;
  align-items: flex-end;
  position: relative;
  overflow: hidden;
  box-shadow: -5px 1px 20px #450dec;
}
.BackGroundFoto1 {
  background-image: url("../assets/images/BoksHelm.jpg");
}
.BackGroundFoto2 {
  background-image: url("../assets/images/BoksHandSchoenen.png");
}
.BackGroundFoto3 {
  background-image: url("../assets/images/BoksSchoenen.jpg");
}
.BackGroundFoto4 {
  background-image: url("../assets/images/BoksBandages.jpg");
}
.BackGroundFoto5 {
  background-image: url("../assets/images/mondStuk.jpg");
}
.BackGroundFoto6 {
  background-image: url("../assets/images/BoksZak.jpg");
}
.remove-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: red;
  margin-left: 6px;
  flex-shrink: 0;
}
.remove-btn:hover {
  transform: scale(1.2);
}
.buttons.add-to .add-to-wishlist {
  position: absolute;
  top: 10px;
  left: 10px;
}
.buttons.add-to .add-to-cart {
  position: absolute;
  top: 10px;
  right: 10px;
}
.buttons.add-to button {
  background-color: #6849bd;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 1px 5px #7052c2;
  transition: transform 0.2s ease;
}
.buttons.add-to button:hover {
  transform: scale(1.1);
}
.grid-class-foto {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-content: space-between;
}
.main-container {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: stretch;
  max-width: 1254px;
  margin: 0 auto;
}
.cart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100;

  border-radius: 10px;
  padding: 15px;
  width: 200px;
  text-align: center;
}
.cart-items,
.wishlist-items {
  min-height: 250px;
  max-height: 300px;
  min-height: 300px;
  min-width: 220px;

  overflow-x: hidden;
  background-color: #7f5af0;
  border: 1px solid #7f5af0;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 15px;
  box-shadow: -5px 1px 20px #450dec;
}
.cart-items::-webkit-scrollbar,
.wishlist-items::-webkit-scrollbar {
  width: 8px;
}
.cart-items::-webkit-scrollbar-thumb,
.wishlist-items::-webkit-scrollbar-thumb {
  background: #5f2cf7;
  border-radius: 10px;
}
.item-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #daccf1;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: -5px 1px 20px #450dec;
  color: black;
  text-align: center;
}
.item-img-vertical {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 6px;
  border: 5px;
  border-color: #7f5af0;
  margin-bottom: 8px;
  box-shadow: -5px 1px 20px #450dec;
}
.item-info {
  width: 100%;
}
.item-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a994ea;
  border-radius: 30px;
  border: 50px;
  border-color: #7f5af0;
}
.item-price,
.item-name {
  font-weight: bold;
  color: black;
}
.remove-btn {
  border: none;
  font-size: 16px;
  color: red;
  cursor: pointer;
  background-color: rgb(244, 159, 159);
  border: 10px;
  border-radius: 25px;
}
.stick-to-top {
  position: sticky;
  top: 0;
}
.stick-to-bottom {
  position: sticky;
  bottom: 0;
  margin-top: 100%;
}
.stick-to-top,
.stick-to-bottom {
  background-color: #7f5af0;
  z-index: 10;
  border: 5px;
}
@media (max-width: 767px) {
  .cart-section {
    margin: 20px auto;
  }
}
@media (min-width: 768px) {
  .grid-class-foto {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    align-content: flex-start;
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
  .cart-section {
    order: 2;
    min-width: 250px;
    min-height: 600px;
  }
  .cart-items,
  .wishlist-items {
    min-height: 280px;
  }
}
